body {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: darkturquoise;
}

svg {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
